
        <section id="cover">

            <!-- Conteo Regresivo -->
            <div id="Home">
                <div class="cover">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-8 reloj">
                                    <div class="inline-block">
                                        <h2 class="counter1" id="dias">00</h2>
                                        <span class="pre block">días</span>
                                    </div>
                                    <div class="inline-block">
                                        <h2 class="counter" id="horas">00</h2>
                                        <span class="pre block">horas</span>
                                    </div>
                                    <div class="inline-block">
                                        <h2 class="counter" id="min">00</h2>
                                        <span class="pre block">min</span>
                                    </div>
                                    <div class="inline-block">
                                        <h2 class="counter" id="seg">00</h2>
                                        <span class="pre block">seg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Proyecto -->
            <div id="Proyecto">
                <div class="container">


                    <div id="Ficha" class="row">
                        <div class="col-sm-12">
                            <h1 class="display-3">Ficha Tecnica.</h1>
                            <div class="contenido">
                               <div class="columna">
                                   <div class="carta">
                                        <div class="titulo">Total de tokens</div>
                                        <div class="subtitulo">50,000,000  NIMS</div>
                                    </div>
                                    <div class="carta">
                                        <div class="titulo">HARD CAP</div>
                                        <div class="subtitulo">10,000 ETHER</div>
                                    </div>
                                    <div class="carta">
                                        <div class="titulo">SOFT CAP</div>
                                        <div class="subtitulo">2,000  ETHER</div>
                                    </div>
                                    <div class="carta">
                                       <div class="titulo">NIM</div>
                                        <div class="subtitulo"> 1,000 NIMS = 1 ETHER </div>
                                    </div>
                               </div>
                               <div class="columna">
                                   <div class="carta">
                                        <div class="titulo">METODO DISTRIBUCION</div>
                                        <div class="subtitulo">CONTRATO INTELIGENTE ETHER ERC20</div>
                                    </div>
                                    <div class="carta">
                                        <div class="titulo">MONEDA ACEPTADA</div>
                                        <div class="subtitulo">ETHER</div>
                                    </div>
                                    <div class="carta">
                                        <div class="titulo">PRE-OFERTA</div>
                                        <div class="subtitulo"> 02 DE FEBRERO (Capitalización mínima 100 ETHER)</div>
                                    </div>
                                    <div class="carta">
                                        <div class="titulo">OFERTA (PRE ICO): </div>
                                        <div class="subtitulo">FEBRERO 2018</div>
                                    </div>
                               </div>
                            </div>
                            <div class="columna">
                                   <div class="carta">
                                        <div class="titulo">ICO</div>
                                        <div class="subtitulo">MARZO 2018</div>
                                    </div>
                               </div>
                        </div>
                    </div>


                    <div id="Benef" class="row">
                        <div class="col-sm-12">
                            <h1 class="display-3">Beneficios.</h1>
                            <div class="contenido">
                                <div class="carta rec "><div class="incarta">RECOMPRA ASEGURADA</div></div>
                                <div class="carta div "><div class="incarta">DIVERSIFICACION</div></div>
                                <div class="carta fac "><div class="incarta">FACIL CONVERSION</div></div>
                                <div class="carta alt "><div class="incarta">ALTA LIQUIDEZ</div></div>
                            </div>
                        </div>
                    </div>


                    <div id="Bono" class="row">
                        <div class="col-sm-12">
                            <h1 class="display-3">Bono.</h1>
                            <div class="contenido">
                                <div id="ContainerBono"></div>
                            </div>
                        </div>
                    </div>


                    <div id="Distr" class="row">
                        <div class="col-sm-12">
                            <h1 class="display-3">Distribuci&oacute;n.</h1>
                            <div class="contenido">
                                <div id="container" class="grafica"></div>
                            </div>
                            <div class="contenido">
                                <div id="container2" class="grafica"></div>
                            </div>
                        </div>
                    </div>


                    <div id="RoadMap" class="row">
                        <div class="col-sm-12">
                            <h1 class="display-3">RoadMap.</h1>
                            <div class="contenido">
                                <section>
                                   <div class="conteiner">

                                       <!--               Linea de tiempo año            -->
                                        <div class="tl-block">
                                            <div class="tl-year">
                                                <div class="year">2017</div>
                                            </div>
                                        </div>

                                        <!--               Linea de tiempo contenido          -->
                                        <div class="tl-block">
                                            <div class="punto"></div>
                                            <div class="tl-event">
                                                <div class="event event-l">
                                                    <div>
                                                        <h3>
                                                            <time datetime="2018-02-23 11:00"> 4Q </time>
                                                            Planeacion
                                                        </h3>
                                                        <div class="contenido">
                                                            <p> <span aria-hidden="true">&cir;</span>
                                                                Desallorro de portafolio de cobertura
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Planeacion plataforma Beta.
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Desallorro de estrategia de invercion.
                                                                </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!--               Linea de tiempo año            -->
                                        <div class="tl-block">
                                            <div class="tl-year">
                                                <div class="year">2018</div>
                                            </div>
                                        </div>

                                        <!--               Linea de tiempo contenido          -->
                                        <div class="tl-block">
                                            <div class="punto"></div>
                                            <div class="tl-event">
                                                <div class="event event-l">
                                                    <div>
                                                        <h3>
                                                            <time datetime="2018-02-23 11:00"> 1Q </time>
                                                            NIM
                                                        </h3>
                                                        <div class="contenido">
                                                            <p> <span aria-hidden="true">&cir;</span>
                                                                Presentación de Whitepapper
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Listado del Token NIM
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Desarrollo de contratos inteligentes.
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Desarrollo de métodos de pago.
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Desarrollo de métodos de pago.
                                                                </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!--               Linea de tiempo contenido          -->
                                        <div class="tl-block">
                                            <div class="punto"></div>
                                            <div class="tl-event">
                                                <div class="event event-l">
                                                    <div>
                                                        <h3>
                                                            <time datetime="2018-02-23 11:00"> 2Q </time>
                                                            NIM
                                                        </h3>
                                                        <div class="contenido">
                                                            <p> <span aria-hidden="true">&cir;</span>
                                                                Liberación de plataforma V.1.0
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Implementación del fondo de cobertura híbrido PREMIUM mediante token.
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Implementación del fondo de cobertura híbrido plus mediante token.
                                                                </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!--               Linea de tiempo contenido          -->
                                        <div class="tl-block">
                                            <div class="punto"></div>
                                            <div class="tl-event">
                                                <div class="event event-l">
                                                    <div>
                                                        <h3>
                                                            <time datetime="2018-02-23 11:00"> 3Q </time>
                                                            NIM
                                                        </h3>
                                                        <div class="contenido">
                                                            <p> <span aria-hidden="true">&cir;</span>
                                                                Desarrollo de robots inteligentes que contribuyan a la continuidad de la estrategia de inversión de los portafolios.
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Listado en CoinmarketCap.
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Desarrollo de App iOS, Android que incluye consulta de plataforma en línea y wallet.
                                                                </p>
                                                            <p><span aria-hidden="true">&cir;</span>
                                                                Liberación de token en exchange.
                                                                </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--               Linea de tiempo contenido          -->
                                        <div class="tl-block">
                                            <div class="punto"></div>
                                            <div class="tl-event">
                                                <div class="event event-l">
                                                    <div>
                                                        <h3>
                                                            <time datetime="2018-02-23 11:00"> 4Q </time>
                                                            NIM
                                                        </h3>
                                                        <div class="contenido">
                                                            <p> <span aria-hidden="true">&cir;</span>
                                                                Implementación de robots inteligentes en la plataforma de inversión Implementación de App Android.
                                                                </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                               </section>
                            </div>
                        </div>
                    </div>


                    <div id="Equipo" class="row">
                       <div id="particles-js"></div>
                        <div class="col-sm-12">
                            <h1 class="display-3">Equipo.</h1>
                            <div class="contenido">
                                <div class="grupo">
                                    <div class="persona">
                                        <div class="foto">f</div>
                                        <div class="desc">
                                            Jorge Ernesto García Salgado
                                        </div>
                                    </div>
                                    <div class="persona">
                                        <div class="foto">f</div>
                                        <div class="desc">
                                            Alejandro Monroy Monroy
                                        </div>
                                    </div>
                                    <div class="persona">
                                        <div class="foto">f</div>
                                        <div class="desc">
                                            Eduardo Agustín Moreno Zamudio
                                        </div>
                                    </div>
                                    <div class="persona">
                                        <div class="foto">f</div>
                                        <div class="desc">
                                            Beatriz Leticia Mata Soto
                                        </div>
                                    </div>
                                </div>
                                <div class="grupo">
                                    <div class="persona">
                                        <div class="foto">f</div>
                                        <div class="desc">
                                            Edgar Isaac Ruiz Carrillo
                                        </div>
                                    </div>
                                    <div class="persona">
                                        <div class="foto">f</div>
                                        <div class="desc">
                                            Julio Ulises Rodríguez Muñoz
                                        </div>
                                    </div>
                                    <div class="persona">
                                        <div class="foto">f</div>
                                        <div class="desc">
                                            Fernando Lujano Gutiérrez
                                        </div>
                                    </div>
                                    <div class="persona">
                                        <div class="foto">f</div>
                                        <div class="desc">
                                            Josué Ruiz Pichardo
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div id="Producto">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="display-3">FAQ.</h1>
                            <div class="contenedor">
                                <div class="columna">
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Que es NIM?</h3></div>
                                        <div class="cont">
                                            Somos un fondo de inversión híbrido que combina la innovación, dinamismo y rendimientos de las inversiones digitales de la era moderna como criptomonedas y crowdfunding  de crédito e inmobiliarios con la seguridad y transparencia de las inversiones tradicionales de mercados de capitales, materias primas y fondos indizados (ETF´s).
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Qué es el token NIM?</h3></div>
                                        <div class="cont">
                                            Nuestros tokens denominados NIM´s están basados sobre la plataforma de Etherum en formato ERC20 y fungen como criptomoneda de cambio y método de participación dentro del fondo de inversión.
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Qué beneficios tiene el token NIM?</h3></div>
                                        <div class="cont">
                                            Cada uno de los tenedores de tokens NIM´s serán acreditados como miembros del fondo de inversión por el cuál gozarán del beneficio de hacerse acreedores al pago de dividendos periódico que realice el fondo.
Adicional a esto la inversión realizada será diversificada también en activos de capitales lo que da mayor respaldo al token.
Si no es suficiente con lo antes mencionado, lo que realmente marca la diferencia de los token NIM con otros token lanzados en ICO´s es el atractivo esquema de recompra de tokens. En otras ICOs no tienes oportunidad de canjear tus tokens hasta después de algún tiempo indefinido mientras son listadas en exchanges. Con nuestro token podrás solicitar retiros de tus dividendos o vender tus tokens a otros miembros del fondo periódicamente.

                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Cómo puedo participar en la venta de token NIM?</h3></div>
                                        <div class="cont">
                                            La venta de tokens se llevará a cabo del 9 de marzo y finaliza el 8 de abril de 2018. Todos los participantes deberán registrarse previamente en la página oficial NIM.
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Cuál es el monto total de token NIM?</h3></div>
                                        <div class="cont">
                                            La máxima capitalización de token distribuidos será de 50 millones.
Cada token NIM será vendido en equivalente a 0.00100363. Dicho de otra forma, el número de NIM´s que podrás obtener por 1 unidad de Ether será de 1000. 1 Ether = 1,000 NIMs.
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3 class="big">¿Cuál es el porcentaje % de distribución de todos los tokens NIM´s?</h3></div>
                                        <div class="cont">
                                            (20%) 10,000,000 Destinados al equipo de trabajo, fundadores y primeros compradores.
(70%) 35,000,000 Destinados para el público inversionista.
(3%) 1,500,000 Destinados a bonos y comisiones
(2%) 1,000,000 Destinados para operación, publicidad y emergencias
(5%) 2,500,000 Destinados para asesores de promoción.
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3 class="big">¿Hay alguna limitación sobre quién puede participar en la venta de Hero Origen Token?</h3></div>
                                        <div class="cont">
                                            Pendiente (consideración Legal)
                                        </div>
                                    </div>
                                </div>
                                <div class="columna">
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Cuál es el monto máximo de compra de token NIM?</h3></div>
                                        <div class="cont">
                                            Para el público inversionista no existirá monto máximo de compra sin embargo tenemos una capitalización máxima en equivalente a 10,000 Ether durante la etapa de venta inicial.
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Cuál es el monto mínimo de compra de token NIM?</h3></div>
                                        <div class="cont">
                                            El monto mínimo de inversión durante la etapa de venta inicial será de 75 USD o su equivalente en Ether en ese momento. Dicho monto de inversión inicial le permitirá adquirir un paquete de tokens NIMs La paridad cambiaría será determinada al cierre de las 20:00 hrs (GMT-6)
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Puedo comprar una parte ó fracción de un token NIM?</h3></div>
                                        <div class="cont">
                                            No. Durante su creación se estipuló que los tokens NIM serán números enteros, por lo tanto no existen tokens fraccionados. Si resultas beneficiario del programa de bonos y recompensas dependiendo de tu monto de inversión final, el porcentaje de bono que te corresponda será redondeado a tokens (números) enteros.
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Qué criptomonedas puedo usar para comprar tokens NIM?</h3></div>
                                        <div class="cont">
                                            Las criptomoneda aceptada al momento de la venta incial será Ethereum (ETH), Si deseas invertir en USD o en otra moneda FIAT, primero deberás comprar Ether (ETH).
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Cuándo se asignará el token NIM a los inversionistas?</h3></div>
                                        <div class="cont">
                                            Al finalizar el período de venta de tokens o ICO (9 de abril de 2018) se realizará una auditoria interna, conciliando los pagos, tokens vendidos y emitidos mediante el programa de bonos y recompensas. Una vez realizado este proceso serán asignados los tokens a las cuentas regitradas en la página oficial al precio determinado durante la valuación.
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿Cuándo se podrá comercializar los tokens NIM?</h3></div>
                                        <div class="cont">
                                            Cuando seas tenedor de tokens NIM, tendrás el derecho a recompra de los mismos por parte del fondo. Adicional a ello, una de las metas principales de NIM es incorporar dichos tokens a las plataformas de intercambio (Exchange) a la brevedad posible para que sea posible obtener utilidades a través de la compra/venta (trading) de dichos tokens adicional al pago de dividendos.
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="titulo"><h3>¿A qué carteras puedo transferir mis token NIM?</h3></div>
                                        <div class="cont">
                                            Se podrán transferir los tokens NIM a cualquier monedero compatible con ERC-20. Para tener una compatibilidad completa, una billetera debe cumplir los siguientes criterios:
                                                Capaz de exportar tu clave privada
                                                Capaz de soportar Smart Contracts

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>