@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Audiowide|Cuprum|Great+Vibes|Nothing+You+Could+Do|Ovo');

/*

font-family: 'Cuprum', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Ovo', serif;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Advent Pro', sans-serif;

background: rgba(0, 128, 0,1);
*/

.reloj{
    padding-top: 20px;
    margin: auto;
    display: flex;
}
.reloj h2{
	margin-top: 0 !important;
    text-shadow:1px 5px rgba(0,0,0,.1);
}
.reloj h2.counter1{
	color:rgba(0, 128, 0,1);
*/
	display: inline-block;
	font-family: 'Ovo', serif;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right:10px;			
	margin-top:0px;
}
.reloj h2.counter{
	color:rgba(0, 128, 0,1);
	display: inline-block;
	font-family: 'Ovo', serif;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right:10px;
	margin-top:0px;
}
.reloj div.pre{
    margin-top: -15px;
}
.reloj .pre{
    color: teal;
	font-family: 'Ovo', serif;
	font-size: 14pt;
	text-align: center;
	text-transform: uppercase;
}
.inline-block{
    margin: auto;
	display:inline-block;
}
.reloj .block{
	display: block;
}