<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>  {{ title }} </title>
        {% block stylesheets %}{% endblock %}

        {% stylesheets  filter="scssphp"  output="css/app.css"
               "assets/app/base.scss"
        %}  

            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

            <!-- Custom fonts for this template -->
    {# <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet"> #}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>  


         {% block content %}
            
        {% endblock %}

       
       {% javascripts filter="?jsqueeze" output="js/app.js"
        "assets/jquery/jquery.js"
        "%asset_twbs_js%/bootstrap.js"

        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}



         {% block javascript %}
            
        {% endblock %}


    </body>
</html>
