



header {
    background: rgba(0,0,0,.6);
    border-radius: 0 0 40% 40%;
    height: 3.5em;
    padding: .5em;
    text-align: center;
    margin-bottom: 2em;
}

footer{
    background: rgba(0,0,0,.3);
    height: 3em;
    padding: .2em;
    text-align: center;
}

section .conteiner{
    background-image: url(/img/barra_t_l.png);
    background-repeat: repeat-y;
    background-position: center; 
    background-size: 20px;
}

.tl-block{
    position:relative;
    width: 100%;
    margin-bottom: 2em;
}

.tl-block .punto{
    width: 2em;
    height: 2em;
    display:block;
    margin: auto;
    background: black;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(255,255,255,1) inset;
}

.tl-year{
    display: flex;
    width: 5em;
    height: 5em;
    margin: auto;
    border-radius: 100%;
    background: black;
    transition: .5s;
    box-shadow: 2px 2px 5px 1px rgba(255,255,255,1) inset;
}

.tl-year:hover{
    border-radius: 20%;
    transform: rotateY(360deg);
}

.tl-year .year{
    width: 100%;
    display: block;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
}

.tl-event{
    margin: auto;
    width: 100%;
    overflow: hidden;
    visibility: visible;
}


.tl-event > div{
    position: relative;
    width: 40%;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 1px rgba(255,255,255,1) inset;
}

.tl-event l.event-l{
    float:left; 
}

.tl-event .event-r{
    float:right;
}

.tl-event div div{
    padding: 15px;
    background: rgba(0,0,0,.3);
    border-radius: 30px;
}

.tl-event time{
    background: green;
    margin-right: 10px;
    font-size: 12pt;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px rgba(0,0,0,.5);
}



















