{% extends "nim.base.html.twig" %}

{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}


{% block content %}
	<div class="auth">
            <div class="auth-container">
                <div class="card">
                    <header class="auth-header">
                        <h1 class="auth-title">
                             Ingreso a NIM </h1>
                    </header>
                    <div class="auth-content">
                        <p class="text-center"> Iniciar Sesión </p>
                        <form id="login-form" action="/login" method="POST" novalidate="novalidate">

                        	{% if error %}
                        		 <div class="form-group">
						    		<div class="alert alert-danger text-center" role="alert" >
						    			{{ error.messageKey|trans(error.messageData, 'security') }}
						    		</div>
						    	</div>
							{% endif %}


                            <div class="form-group">
                                <label for="username">Correo</label>
                                <input type="email" class="form-control underlined" id="username" name="_username" placeholder="Escribe correo"
                                	value="{{lastUsername}}" required=""> 
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control underlined" id="password" name="_password"  placeholder="Escribe contraseña" required="" > 
                            </div>

                            <div class="form-group">
                                <label for="remember">
                                    <input class="checkbox" id="remember" type="checkbox">
                                    <span>Recordarme</span>
                                </label>
                                <a href="/recuperar_contrasena" class="forgot-btn pull-right">olvidaste tu contraseña?</a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-primary">Ingresar</button>
                            </div>
                            <div class="form-group">
                                <p class="text-muted text-center">¿No estas registrado?
                                    <a href="/registro">¡Registrate!</a>
                                </p>
                                <p class="text-muted text-center">¿Aún no llega tu correo de activación?
                                    <a href="/reenviar_correo">¡Reenviar correo!</a>
                                </p>
                                <p class="text-muted text-center">¿Olvidaste tu contraseña?
                                    <a href="/recuperar_contrasena">¡Restablece tu contraseña!</a>
                                </p>
                            </div>

                            <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <a href="{{ path('home') }}" class="btn btn-secondary btn-sm">
                        <i class="fa fa-arrow-left"></i>  Regresar a Inicio </a>
                </div>
            </div>
        </div>

 {% endblock %}