#Producto{
    color: rgba(250,250,250,.7);
    text-shadow: 2px 3px 3px rgba(0, 0, 0, .4);
}

#Producto .container{
    width: 95%;
    border-radius: 8px;
    padding-top: 30px;
    background-color: rgb(20, 90, 50);
    box-shadow: 1px 1px 9px rgba(0,0,0,.7);
}

#Producto .display-3{
    color: rgba(250,250,250,.8);
    text-align: center;
    font-weight: 300;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, .7);
    border: 15px solid transparent;
    border-image:url("/img/linea.png") 90 10; 
    border-top: none;
}

#Producto .contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#Producto .columna{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#Producto .titulo{
    display: flex;
    width: 100%;
    height:60px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
    box-shadow: 1px 1px 9px rgba(250,250,250,.7) inset;
}

#Producto .titulo h3{
    margin: auto;
    text-align: center;
    font-size: 14pt;
}

.big{
    font-size: 12pt !important;
}

#Producto .cont{
    text-align:justify;
    display: none;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
    box-shadow: 1px 1px 9px rgba(0,0,0,.7)inset;
}