#Proyecto .container{
    width: 95%;
    height: 100%;
    overflow: auto;
    margin: auto;
    font-family: 'Ovo', serif;
    color:aliceblue;
}

.display-3{
    text-align: center;
    border: 15px solid transparent;
    border-image:url("../../img/linea.png") 90 10; 
    border-top: none;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, .6);
}
#Ficha .display-3{
    margin-top: 20px;
    font-size: 45pt;
}

#Ficha{
    background: rgb(0,35,8);
    height: 1500px;
    border-radius: 8px;
    background-image: url(../../img/otras/Back_time_l.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#Ficha .carta{
    border-radius: 8px;
    width: 100%;
    margin-top: 25px;
    box-shadow: 1px 1px 9px rgba(250,250,250,.8) inset;
}

#Ficha .titulo{
    border-radius: 8px 8px 0 0 ;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 2px;
    text-align: center;
    font-size: 16pt;
    background: rgba(0,0,0,.2);
}

#Ficha .subtitulo{
    background:linear-gradient(45deg, rgba(250,250,250,.1) 1%,rgba(250,250,200,.3) 80%);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Degradado 7s ease infinite;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    padding: 25px;
    font-size: 14pt;
    text-align: center;
}

#Benef{
    text-shadow: 2px 3px 3px rgba(0, 0, 0, .4);
    background-color: rgb(0, 60, 0);
    padding-top: 80px;
    padding-bottom: 30px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px rgba(0,0,0,.7);
}
#Benef .display-3{
    margin-top: 5px;
    font-size: 40pt;
}

#Benef .carta{
    background-image: url(../../img/tarjeta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 2px ;
    width: 100%;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px rgba(0,0,0,1);
    display: flex;
}
.incarta{
    margin: auto;
}

#Bono{
    border-radius: 8px;
    margin-top: 40px;
    padding-top: 80px;
    background-color: rgb(30, 95, 30);
    box-shadow: 1px 1px 9px rgba(0,0,0,.7);
    height: 710px;
}

#Bono .display-3{
    font-size: 45pt;
    margin-bottom: 20px;
}

#Distr{
    border-radius: 8px;
    margin-top: 40px;
    padding-top: 80px;
    background-color: rgb(50, 120, 90);
    box-shadow: 1px 1px 9px rgba(0,0,0,.7);
    height: 1200px;
}

#Distr .display-3{
    font-size: 35pt;
}

#Distr .contenido{
    margin-top: 40px;
    margin-bottom: 40px;
}

#RoadMap{
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, .4);
    border-radius: 8px;
    margin-top: 40px;
    padding-top: 80px;
    background-color: rgb(20, 100, 70);
    box-shadow: 1px 1px 9px rgba(0,0,0,.7);
}

#RoadMap .display-3{
    margin-top: 20px;
    font-size: 45pt;
}

#RoadMap .conteiner{
    width: 90%;
    overflow: auto;
    margin: auto;
}

#RoadMap p{
    color:aliceblue;
    margin: 10px 0;
    
}

#RoadMap .event{
    background:#1a5e54;
    margin-bottom: 20px;
    padding: .5em;
    border-radius: 5px;
    box-shadow: 1px 1px 9px rgba(0,0,0,.5) inset;
}

#RoadMap .tl-year{
    display: flex;
    background:linear-gradient(45deg, #064217 41%,#1a5e54 100%);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Degradado 10s ease infinite;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 9px rgba(0,0,0,.2) inset;
}
.year{
    color: aliceblue;
    margin: auto;
    font-size: 14pt;
}

#RoadMap time{
    background-color: rgba(50,10,0,.3);
    color: aliceblue;
    margin-right: 25px;
    font-size: 12pt;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 1px 1px 9px rgba(0,0,0,.2) inset;
}


#Equipo{
    font-family: 'Nothing You Could Do', cursive;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, .2);
    border-radius: 8px;
    margin-top: 40px;
    padding-top: 80px;
    background:#1a5e54;
    box-shadow: 1px 1px 9px rgba(0,0,0,.7);
    height: 2800px;
}
#Equipo .display-3{
    margin-top: 20px;
    font-size: 50pt;
}
#particles-js{
    width: 100%;
    height: 2500px;
    position: absolute;
    z-index: 0;
}
#Equipo .contenido{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
#Equipo .grupo{
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#Equipo .persona{
    flex: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#Equipo .persona .foto{
    margin: auto;
    height: 210px;
    width: 150px;
    box-shadow: 1px 1px 9px rgba(0,0,0,.7) inset;
}
#Equipo .persona .desc{
    text-align: center;
    font-size: 14pt;
    padding: 8px;
    margin-top: 15px;
    
}


/*
{/ Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- /}
*/
@media (min-width: 768px) {
    #Ficha{
        height: 944px;
    }
    #Ficha .contenido {
        display: flex;
        height: 650px;
    }
    #Ficha .columna{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    #Ficha .carta{
        width: 95%;
        height: 20%;
        margin: auto;
    }
    #Ficha .subtitulo{
        height: 93px;;
    }
    
    #Benef{
        height: 995px;
    }
    #Benef .contenido{
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    #Benef .carta{
        width: 65%;
        height: 100px;
        margin: auto;
    }
    
    #Bono{
        height: 990px;
    }
    #Bono .contenido{
        height: 700px;
        display: flex;
    }
    #ContainerBono{
        margin: auto;
    }
    
}




























@-webkit-keyframes Degradado {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
























































