#TimeLine{
    background: red;
    
}

#cover #TimeLine{
    height: 1200px;
}

#TimeLine .container{
    width: 90%;
    overflow: auto;
    margin: auto;
    font-family: 'Ovo', serif;
    color: darkseagreen;
}

#TimeLine p{
    color:aliceblue;
    margin: 10px 0;
    
}

#TimeLine .event{
    margin-bottom: 20px;
    padding: .5em;
    background: rgba(250,250,250,.1);
    border-radius: 5px;
}

#TimeLine .tl-year{
    display: flex;
    background:linear-gradient(45deg, #1e5799 1%,#2b6e2d 40%,#183d1f 98%);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Degradado 10s ease infinite;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}
.year{
    color: aliceblue;
    margin: auto;
}

#TimeLine time{
    background-color: darkseagreen;
    color: darkslategrey;
    margin-right: 15px;
    font-size: 14pt;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 1px 1px 9px rgba(0,0,0,.5);
}


@-webkit-keyframes Degradado {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}