#Home .cover{
    background-image: url(../../img/home.gif);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 820px;
}
#Home{
    background: rgb(250,250,250);
}

/*
{/ Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- /}
*/
@media (min-width: 768px) {
    #Home{
        height: 950px;
    }
}