{% extends "nim.base.html.twig" %}


{% block content %}

    <div class="auth">
            <div class="auth-container">
                <div class="card">
                    <header class="auth-header">
                        <h1 class="auth-title">
                            <div class="logo">
                               
                            </div> Registro de Usuario </h1>
                    </header>
                    <div class="auth-content">
                        <p class="text-center"> REGISTRATE PARA OBTENER ACCESO INMEDIATO</p>
                        <form id="signup-form" action="/demo/inicio" method="POST">
                            <div class="form-group ">
                                <label for="firstname">Nombre Completo</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control underlined" name="firstname" id="firstname" placeholder="Ingresa nombre" required="" aria-required="true" > </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control underlined" name="lastname" id="lastname" placeholder="Ingresa apellidos" required="" > 
                                    </div>
                                </div>

                            </div>
                            <div class="form-group ">
                                <label for="email">Correo</label>
                                <input type="email" class="form-control underlined" name="email" id="email" placeholder="Ingresa correo" required="" >

                            </div>
                            <div class="form-group ">
                                <label for="password">Password</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control underlined" name="password" id="password" placeholder="Ingresa password" required="" > 
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control underlined" name="retype_password" id="retype_password" placeholder="Rescribe password" required="" > 
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="agree">
                                    <input class="checkbox" name="agree" id="agree" type="checkbox" required="" aria-required="true">
                                    <span>Acepta terminos y
                                        <a href="#"> condiciones</a>
                                    </span>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6Ldl9kUUAAAAAG3l996KN3Bqd0hBI9GjdWIv7oMB"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-primary">Registrarse</button>
                            </div>
                            <div class="form-group">
                                <p class="text-muted text-center">
                                    ¿Ya estas registrado?<a href="login.html">¡Ingresa!</a> 
                            
                                </p>                              
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <a href="index.html" class="btn btn-secondary btn-sm">
                        <i class="fa fa-arrow-left"></i> Regresar  </a>
                </div>
            </div>
        </div>



 {% endblock %}
perrra



 {% block javascript %}
{% endblock %}